.quote {
	font-style: italic;
}


/* carousel config */
.About .carousel-wrapper {
	height: 340px;
}

.About .previousButton,
.About .nextButton {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: var(--bg-color-secondary);
	border: 1px solid var(--text-color);
	border-radius: 64px;
	top: 110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px;
	cursor: pointer;
	padding: 0;
}

.About .previousButton {
	background-image: url('../assets/img/icon-arrow-left.svg');
	left: -32px;
}

.About .nextButton {
	background-image: url('../assets/img/icon-arrow-right.svg');
	right: -32px;
}

.About .carousel-button-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.About .pip {
	width: 10px;
	height: 10px;
	background-color: var(--bg-color-secondary);
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid white;
	margin-top: 10px;
}

.About .pip.current {
	background-color: var(--text-highlight);
	pointer-events: none;
}

/* carousel cards */
.About .carousel-card {
	width: 300px;
	height: 340px;
	border-radius: 10px;
	background-color: var(--bg-color-secondary);
	box-sizing: border-box;
}

.About .carousel-card-img {
	height: 180px;
}

.About .carousel-card-title {
	font-size: 1.1rem;
}

.About .carousel-card-text {
	text-align: center;
}