.About .carousel-wrapper {
	height: 340px;
}

.About .carousel-wrapper .previousButton,
.About .carousel-wrapper .nextButton {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: var(--bg-color-secondary);
	border: 1px solid var(--text-color);
	border-radius: 64px;
	top: 110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px;
	cursor: pointer;
	padding: 0;
}

.About .carousel-wrapper .previousButton {
	background-image: url('../assets/img/icon-arrow-left.svg');
	left: -32px;
}

.About .carousel-wrapper .nextButton {
	background-image: url('../assets/img/icon-arrow-right.svg');
	right: -32px;
}

.About .carousel-wrapper .pip {
	width: 15px;
	height: 15px;
	background-color: var(--bg-color-secondary);
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid white;
	margin-top: 10px;
}

.About .carousel-wrapper .Carousel__current-pip .pip {
	background-color: var(--text-highlight);
}

.About .carousel-card {
	width: 300px;
	height: 340px;
	border-radius: 10px;
	background-color: var(--bg-color-secondary);
	box-sizing: border-box;
}

.About .carousel-card-img {
	height: 180px;
}

.About .carousel-card-title {
	font-size: 1.1rem;
}

.About .carousel-card-text {
	text-align: center;
}