.Career .timeline .timeline-title {
	transition: all 1s;
	transition-delay: 0.5s;
	transform-origin: center;
}

.Career .timeline-item:hover .timeline-title {
	transform: translateX(5%);
}

.Career .timeline-icon {
	height: 100px;
	transition: all 1s;
	transition-timing-function: var(--transition-overshot);
	transform-origin: center;
}

.Career .timeline-item:hover .timeline-icon {
	transform: rotate(360deg) scale(1.15);
}

.Career .timeline-title {
	font-size: 2rem;
}

.Career .timeline-block {
	border-left: 4px solid var(--text-color);
	margin-left: 50px;
	font-size: 1.25rem;
	padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.Career .timeline-icon {
		height: 90px;
	}

	.Career .timeline-title {
		font-size: 1.5rem;
	}

	.Career .timeline-block {
		margin-left: calc(90px / 2);
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 470px) {
	.Career .timeline-icon {
		height: 75px;
	}

	.Career .timeline-title {
		font-size: 1.2rem;
	}

	.Career .timeline-block {
		border-left: 3px solid var(--text-color);
		margin-left: calc(75px / 2);
		font-size: 1rem;
	}
}