.Carousel {
	position: relative;
	width: 100%;
	height: 100%;
}

.Carousel__content-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.Carousel__children-wrapper {
	position: absolute;
}

.Carousel__pip-wrapper {
	display: flex;
	justify-content: center;
}