.Home .personal-link {
	transition: all 1s;
	transition-timing-function: var(--transition-overshot);
	width: fit-content;
}

.Home .personal-link:hover {
	transform: translateX(5%);
}

.Home .link-icon {
	width: 25px;
	transition: all 1s;
	transition-timing-function: var(--transition-overshot);
	transform-origin: center;
}

.Home .personal-link:hover .link-icon {
	transform: scale(1.5);
}

.Home .personal-info {
	display: grid;
	grid-template-areas:
		'intro intro intro'
		'pic bullets bullets';
}

.Home .personal-intro {
	grid-area: intro;
}

.Home .profile-pic {
	border-radius: 100px;
	height: 200px;
	grid-area: pic;
	margin-left: auto;
}

.Home .personal-bullets {
	grid-area: bullets;
	margin-left: 30px;
	justify-content: center;
	margin-left: 0;
}

.Home .quote {
	font-size: 1.15rem;
	font-style: italic;
	text-align: center;
	margin-top: 40px;
}

.Home .quote-author {
	font-size: 0.8rem;
	text-align: right;
	margin-right: 15%;
}

@media screen and (max-width: 700px) {
	.Home .profile-pic {
		height: 125px;
	}
}

@media screen and (max-width: 530px) {
	.Home .personal-info {
		grid-template-areas:
			'pic intro intro'
			'bullets bullets bullets';
		align-items: center;
	}
}

@media screen and (max-width: 470px) {
	.Home .profile-pic {
		height: 75px;
	}

	.Home .quote {
		font-size: 1rem;
		margin-top: 20px;
	}

	.Home .quote-author {
		text-align: right;
		margin-right: 5%;
	}
}