.Home .personal-link {
	transition: all 1s;
	transition-timing-function: ease-in-out;
	width: fit-content;
}

.Home .personal-link:hover {
	transform: translateX(5%);
}

.Home .link-icon {
	width: 25px;
	transition: all 1s;
	transition-timing-function: ease-in-out;
	transform-origin: center;
}

.Home .personal-link:hover .link-icon {
	transform: scale(1.5);
}

.Home .profile-pic {
	border-radius: 100px;
	height: 200px;
}

.Home .quote {
	font-size: 1.15rem;
	font-style: italic;
	text-align: center;
	margin-top: 40px;
}

.Home .quote-author {
	font-size: 0.8rem;
	text-align: right;
	margin-right: 15%;
}