.Navbar {
	background-color: #1a1a1a;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;
}

.Navbar ul {
	display: flex;
	gap: 75px;
}

.Navbar ul li {
	list-style: none;
	transform-origin: center;
	transition: all 0.5s;
}

.Navbar ul li:hover {
	transform: scale(1.1);
}

.Navbar ul li a {
	text-decoration: none;
	color: var(--text-color);
	padding: 10px;
	box-sizing: border-box;
}

.Navbar ul li.selected a {
	border-bottom: 2px solid var(--text-highlight);
}