/* carousel config */
.Projects .carousel-wrapper {
	width: 800px;
	height: 690px;
}

.Projects .previous-button,
.Projects .next-button {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: var(--bg-color-secondary);
	border: 1px solid var(--text-color);
	border-radius: 64px;
	top: 225px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px;
	cursor: pointer;
	transition: transform .5s;
	transform-origin: center;
	transition-timing-function: var(--transition-overshot);
}

.Projects .previous-button:hover,
.Projects .next-button:hover {
	transform: scale(1.2);
}

.Projects .previous-button {
	background-image: url('../assets/img/icon-arrow-left.svg');
	left: -32px;
}

.Projects .next-button {
	background-image: url('../assets/img/icon-arrow-right.svg');
	right: -32px;
}

.Projects .carousel-button-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.Projects .pip {
	width: 10px;
	height: 10px;
	background-color: var(--bg-color-secondary);
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid white;
	margin-top: 10px;
}

.Projects .pip.current {
	background-color: var(--text-highlight);
	pointer-events: none;
}

/* carousel cards */
.Projects .carousel-card {
	display: block;
	width: 800px;
	background-color: var(--bg-color);
	box-sizing: border-box;
}

.Projects .carousel-card>a {
	height: 690px;
}

.Projects .carousel-card-img {
	height: 500px;
	object-fit: contain;
	transition: transform 1s;
	transition-timing-function: ease-in-out;
	z-index: 1;
}

.Projects .carousel-card>a:hover .carousel-card-img {
	transform: scale(1.1);
}

.Projects .carousel-card-text {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--bg-color-secondary);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 2;
}

.Projects .carousel-card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.75rem;
}

.Projects .carousel-card-category {
	font-size: 1rem;
}

@media screen and (max-width: 890px) {

	/* carousel config */
	.Projects .carousel-wrapper {
		width: 600px;
		height: 600px;
	}

	/* carousel cards */
	.Projects .carousel-card {
		width: 600px;
	}

	.Projects .carousel-card>a {
		height: 600px;
	}

	.Projects .carousel-card-img {
		height: 400px;
	}

	.Projects .carousel-card-title {
		align-items: flex-start;
		flex-direction: column;
	}
}

@media screen and (max-width: 690px) {

	/* carousel config */
	.Projects .carousel-wrapper {
		width: 400px;
		height: 500px;
	}

	.Projects .previous-button,
	.Projects .next-button {
		width: 48px;
		height: 48px;
		top: 125px;
	}

	.Projects .previous-button {
		background-image: url('../assets/img/icon-arrow-left.svg');
		left: -24px;
	}

	.Projects .next-button {
		background-image: url('../assets/img/icon-arrow-right.svg');
		right: -24px;
	}

	/* carousel cards */
	.Projects .carousel-card {
		width: 400px;
	}

	.Projects .carousel-card>a {
		height: 500px;
	}

	.Projects .carousel-card-img {
		height: 275px;
	}

	.Projects .carousel-card-title {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 460px) {

	/* carousel config */
	.Projects .carousel-wrapper {
		width: 250px;
		height: 450px;
	}

	.Projects .previous-button,
	.Projects .next-button {
		width: 32px;
		height: 32px;
		top: 70px;
		background-size: 15px;
	}

	.Projects .previous-button {
		background-image: url('../assets/img/icon-arrow-left.svg');
		left: -16px;
	}

	.Projects .next-button {
		background-image: url('../assets/img/icon-arrow-right.svg');
		right: -16px;
	}

	/* carousel cards */
	.Projects .carousel-card {
		width: 250px;
	}

	.Projects .carousel-card>a {
		height: 450px;
	}

	.Projects .carousel-card-img {
		height: 170px;
	}

	.Projects .carousel-card-text {
		padding: 15px;
	}
}