.SlidingText {
	margin-bottom: 30px;
	position: relative;
}

.SlidingText h2 {
	position: relative;
	font-size: 2rem;
	font-weight: bold;
	z-index: 1;
}

.SlidingText .text-ghost {
	position: absolute;
	color: #721111;
	font-size: 3rem;
	font-weight: bold;
	top: -0.75rem;
	z-index: 0;
}