:root {
	--bg-color: black;
	--bg-color-secondary: #1a1a1a;
	--text-color: white;
	--text-highlight: #18d341;
	--ghost-color: #0a8825;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
}

html {
	background-color: black;
}

main {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1400px;
	margin: auto;
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.center {
	align-items: center;
}

.gap-sm {
	gap: 15px;
}

.gap-md {
	gap: 30px;
}

.gap-lg {
	gap: 50px;
}

.pad-sm {
	padding: 10px;
}

.pad-md {
	padding: 25px;
}

.pad-lg {
	padding: 50px;
}

.pad-left-md {
	padding-left: 30px;
}

.pad-left-lg {
	padding-left: 50px;
}

.line-height-sm {
	line-height: 1.25rem;
}

.line-height-md {
	line-height: 1.5rem;
}

.line-height-lg {
	line-height: 2rem;
}

.text-highlight {
	color: var(--text-highlight);
}

.bold {
	font-weight: bold;
}

.ghost {
	color: var(--ghost-color);
}